# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next/
out/
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor folders
.vscode/
.idea/

# Storybook
storybook-static/

# Misc
*.tsbuildinfo

# Optional: MacOS hidden files
*.swp
